<h1>Account Login</h1>
<form action="/" method="POST">
  <input name="email" type="text" placeholder="Email" required>
  <input name="password" type="text" placeholder="Password" required>
  <button type="submit">Sing in</button>
</form>